/* VOTE PAGE STYLES - VOTE.SASS

#vote
  +flex(row, center, center)
  background-color: rgba($gray, .45)
  width: 100vw

  #vote-wrapper
    +flex(column, stretch, flex-start)

    .round-titles
      +flex(row, center, flex-start)
      margin: 1em 0

      @media all and (max-width: 900px)
        display: none !important

      .round-title
        color: rgba($black, .75)
        font:
          size: 1.1em
          weight: 500
        margin: 0
        text-align: center
        width: 20%

    h1
      text-align: center
      font-size: 2em
      @media all and (max-width: 900px)
        font-size: 1em

    .ads
      display: flex
      justify-content: center
      margin-bottom: 1%

    .box
      width: 10em
      height: 10em
      @media all and (max-width: 900px)
        width: 5em
        height: 5em

    .banner
      width: 40em
      @media all and (max-width: 900px)
        width: 20em
        height: 4em

    .rounds
      +flex(row, stretch, center)

      @media all and (max-width: 900px)
        +flex(column, stretch, center)
