/* VOTE PAGE STYLES - VOTE.SASS

#vote
  +flex(row, center, center)
  width: 100vw

  .wrapper
    +flex(column, center, center)

    .brackets-container
      +flex(column, center, center)
      background-color: $gray
      width: 100vw

      h2
        color: $black

      .brackets
        +flex(row, flex-start, space-evenly)
        height: 500px
        overflow: scroll
        width: 100%


    .past-matchups
      width: 100%
