/* HELPER CLASSES -- HELPERS.SASS */
/**
 * Wrapper class to help with page margins and keeping elements contained
 * properly.
 */
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 90%; }

/**
 * Helper class to truncate and add ellipsis to a string too long for it to fit
 * on a single line.
 *
 * 1. Prevent content from wrapping, forcing it on a single line.
 * 2. Add ellipsis at the end of the line.
 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* BEGIN BASE STYLES -- BASE-DIR.SASS */
/* COMMON STYLES - COMMON.SASS */
* {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #252525;
  margin: 0; }

h1, h2, h3, h4, h5, h6, ol, ul {
  font-weight: 700; }

p, a, li {
  font-weight: 500; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

/* FONTS - FONTS.SASS */
/* BEGIN COMPONENT STYLES -- COMPONENTS-DIR.SASS */
/* HEADER STYLES - HEADER.SASS */
header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100vw;
  padding: 2.25em 0; }
  header .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
    header .wrapper #title {
      font-size: 1.1em; }
      @media all and (max-width: 615px) {
        header .wrapper #title {
          font-size: .9em; } }
      header .wrapper #title h1 {
        color: #D15050 !important;
        margin: 0; }
        @media all and (max-width: 615px) {
          header .wrapper #title h1 {
            color: #252525 !important; } }
        header .wrapper #title h1 span {
          color: #FFFFFF !important; }

/* BUTTON STYLES - BUTTON.SASS */
.btn {
  padding: .9em 2.75em; }
  .btn:hover, .btn:active, .btn:focus {
    font-weight: 700; }

/* COMPANY BLOCK STYLES - COMPANY-BLOCK.SASS */
.company-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  background-color: rgba(37, 37, 37, 0.3);
  padding: 1em 0;
  width: 20%; }
  .company-block p {
    font-size: 1.5em;
    margin: 0; }
  .company-block button {
    background-image: url("/assets/img/info.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    height: 32.5px;
    width: 32.5px; }

/* BEGIN PAGE SPECIFIC STYLES -- PAGES-DIR.SASS */
/* HOME PAGE STYLES - HOME.SASS */
#home {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  background-image: url("/assets/img/home-bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh; }
  @media all and (max-width: 615px) {
    #home {
      background-image: none;
      background-color: #D15050; } }
  #home .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    height: auto; }
    #home .wrapper h1 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-size: 7.5em;
      line-height: .9em;
      margin: 0 0 1.25em 0; }
      @media all and (max-width: 1050px) {
        #home .wrapper h1 {
          font-size: 6em; } }
      @media all and (max-width: 615px) {
        #home .wrapper h1 {
          font-size: 5.75em;
          margin-bottom: .25em; } }
      @media all and (max-width: 500px) {
        #home .wrapper h1 {
          font-size: 5em; } }
    #home .wrapper #btn-home {
      background-color: #252525;
      -ms-flex-item-align: end;
          align-self: flex-end;
      color: #FFFFFF;
      font-size: 1.25em; }
      #home .wrapper #btn-home:hover {
        background-color: #181818; }
      @media all and (max-width: 1050px) {
        #home .wrapper #btn-home {
          font-size: 1em; } }

/* VOTE PAGE STYLES - VOTE.SASS */
#vote {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100vw;
  height: 100vh;
  margin: 2em 0; }
  #vote .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
