/* HELPER CLASSES -- HELPERS.SASS */
/**
 * Wrapper class to help with page margins and keeping elements contained
 * properly.
 */
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 90%; }

/**
 * Helper class to truncate and add ellipsis to a string too long for it to fit
 * on a single line.
 *
 * 1. Prevent content from wrapping, forcing it on a single line.
 * 2. Add ellipsis at the end of the line.
 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* BEGIN BASE STYLES -- BASE-DIR.SASS */
/* COMMON STYLES - COMMON.SASS */
* {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html, body {
  overflow: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #252525;
  margin: 0; }

h1, h2, h3, h4, h5, h6, ol, ul {
  font-weight: 700; }

p, a, li {
  font-weight: 500; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

button {
  border: none;
  outline: none; }

/* FONTS - FONTS.SASS */
/* BEGIN COMPONENT STYLES -- COMPONENTS-DIR.SASS */
/* BUTTON STYLES - BUTTON.SASS */
.btn {
  padding: .9em 2.75em; }
  .btn:hover, .btn:active, .btn:focus {
    font-weight: 700; }

#disabled {
  visibility: collapse; }

/* HEADER STYLES - HEADER.SASS */
header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0;
  width: 100vw; }
  header #header-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header #header-wrapper #title {
      font-size: .8em; }
      header #header-wrapper #title:hover {
        letter-spacing: .5em; }
      @media all and (max-width: 615px) {
        header #header-wrapper #title {
          font-size: .95em; } }
      @media all and (max-width: 360px) {
        header #header-wrapper #title {
          font-size: .9em; } }
      header #header-wrapper #title h1 {
        color: #e31936 !important;
        margin: 0; }
        @media all and (max-width: 615px) {
          header #header-wrapper #title h1 {
            color: #FFFFFF !important;
            font-size: 1.75em; } }
        header #header-wrapper #title h1 span {
          color: #252525; }
    header #header-wrapper #add-this div div a .at-icon-wrapper {
      line-height: 22.5px !important;
      height: 22.5px !important;
      width: 22.5px !important; }
      @media all and (max-width: 615px) {
        header #header-wrapper #add-this div div a .at-icon-wrapper {
          line-height: 25px !important;
          height: 25px !important;
          width: 25px !important; } }
      @media all and (max-width: 360px) {
        header #header-wrapper #add-this div div a .at-icon-wrapper {
          line-height: 18px !important;
          height: 18px !important;
          width: 18px !important; } }
      header #header-wrapper #add-this div div a .at-icon-wrapper .at-icon {
        height: 22.5px !important;
        width: 22.5px !important; }
        @media all and (max-width: 615px) {
          header #header-wrapper #add-this div div a .at-icon-wrapper .at-icon {
            height: 25px !important;
            width: 25px !important; } }
        @media all and (max-width: 360px) {
          header #header-wrapper #add-this div div a .at-icon-wrapper .at-icon {
            height: 18px !important;
            width: 18px !important; } }

.home {
  background-color: transparent;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2; }

.vote {
  background-color: #252525;
  position: relative; }
  .vote #header-wrapper #title span {
    color: #FFFFFF; }

/* MATCH STYLES - MATCH.SASS */
.match {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 0 1.5em 0; }
  .match .participants {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%; }

/* MODAL STYLES - MODAL.SASS */
.modal {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10 !important; }
  .modal .modal-overlay {
    display: none;
    background-color: rgba(37, 37, 37, 0.25);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11; }
  .modal .modal-guts {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #FFFFFF;
    overflow: scroll;
    padding: 1.5em 3em;
    width: 80%;
    z-index: 25 !important; }
    @media all and (max-width: 500px) {
      .modal .modal-guts {
        height: 90%;
        width: 90%; } }
    .modal .modal-guts h1 {
      border-bottom: 5px solid #c1152e;
      margin: .5em 0; }
      @media all and (max-width: 500px) {
        .modal .modal-guts h1 {
          font-size: 1.5em;
          margin: 0 0 -.5em 0; } }
    .modal .modal-guts #close {
      -ms-flex-item-align: end;
          align-self: flex-end;
      color: #252525;
      font-size: 2.5em; }
      .modal .modal-guts #close span {
        font-size: 2.75em;
        margin: 0; }
    .modal .modal-guts .competitors {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      @media all and (max-width: 1080px) {
        .modal .modal-guts .competitors {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
      .modal .modal-guts .competitors .comp:first-of-type {
        padding: 0 1.5em 0 0; }
      .modal .modal-guts .competitors .comp {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 250px;
        margin: 1em 0;
        overflow: scroll;
        padding-left: 1.5em;
        width: 50%; }
        @media all and (max-width: 1080px) {
          .modal .modal-guts .competitors .comp {
            height: auto;
            padding: 0 0 1em 0 !important;
            width: 100%; } }
        .modal .modal-guts .competitors .comp h2 {
          margin: 0; }
        @media all and (max-width: 500px) {
          .modal .modal-guts .competitors .comp {
            font-size: .85em; } }
        .modal .modal-guts .competitors .comp .description {
          font-size: .95em;
          margin: -1em 0; }
          @media all and (max-width: 1080px) {
            .modal .modal-guts .competitors .comp .description {
              margin: 1em 0; } }
          @media all and (max-width: 500px) {
            .modal .modal-guts .competitors .comp .description {
              font-size: 1.05em; } }
        .modal .modal-guts .competitors .comp .vote-btn {
          -ms-flex-item-align: end;
              align-self: flex-end;
          background-color: #252525;
          color: #FFFFFF; }
          .modal .modal-guts .competitors .comp .vote-btn:hover {
            cursor: pointer;
            background-color: #c1152e; }
          @media all and (max-width: 500px) {
            .modal .modal-guts .competitors .comp .vote-btn {
              font-size: .95em; } }
    .modal .modal-guts .winner-name {
      -ms-flex-item-align: end;
          align-self: flex-end;
      background-color: #e31936;
      color: #FFFFFF;
      margin-top: -1em;
      padding: .9em 2.75em;
      text-transform: uppercase; }

.clicked {
  background-color: #e31936 !important; }

/* PARICIPANT STYLES - PARICIPANT.SASS */
.participant {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e31936;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  padding: 1em;
  outline: none; }
  .participant:hover {
    background-color: #cc1631;
    cursor: pointer; }
  .participant:first-of-type {
    border-bottom: 2px solid rgba(37, 37, 37, 0.15); }
  .participant .p-name {
    font-size: .95em;
    font-weight: 700;
    margin: 0;
    text-align: left;
    width: 85%; }
  .participant .info {
    font-size: 1.25em; }

.participant-empty {
  color: #e31936; }

/* BRACKET COLUMN STYLES - ROUND.SASS */
.round {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0 .25em; }
  .round .round-title {
    display: none; }
    @media all and (max-width: 900px) {
      .round .round-title {
        display: block; } }
  .round .match-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.active {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

/* BEGIN PAGE SPECIFIC STYLES -- PAGES-DIR.SASS */
/* HOME PAGE STYLES - HOME.SASS */
#home {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/assets/img/home-bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  /* height media queries */
  /* width media queries */ }
  @media all and (max-height: 415px) {
    #home {
      height: auto;
      padding: 2em 0; } }
  @media all and (max-width: 615px) {
    #home {
      background-image: none;
      background-color: #c1152e; } }
  #home .wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto; }
    #home .wrapper h1 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      color: #252525;
      font-size: 7.5em;
      line-height: 0.9em;
      margin: 0 0 1.25em 0;
      /* height media queries */
      /* width media queries */ }
      @media all and (max-height: 415px) {
        #home .wrapper h1 {
          margin: .75em 0 0 0; } }
      @media all and (max-width: 1050px) {
        #home .wrapper h1 {
          font-size: 6em; } }
      @media all and (max-width: 615px) {
        #home .wrapper h1 {
          color: #FFFFFF;
          font-size: 5.75em;
          margin-bottom: 0.25em; } }
      @media all and (max-width: 500px) {
        #home .wrapper h1 {
          font-size: 5em; } }
      @media all and (max-width: 360px) {
        #home .wrapper h1 {
          font-size: 4em; } }
    #home .wrapper #btn-home {
      background-color: #252525;
      -ms-flex-item-align: end;
          align-self: flex-end;
      color: #FFFFFF;
      font-size: 1.25em;
      /* height media queries */
      /* width media queries */ }
      #home .wrapper #btn-home:hover {
        background-color: #181818; }
      @media all and (max-height: 415px) {
        #home .wrapper #btn-home {
          margin-bottom: .5em; } }
      @media all and (max-width: 1050px) {
        #home .wrapper #btn-home {
          font-size: 1em; } }

/* VOTE PAGE STYLES - VOTE.SASS */
#vote {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(224, 224, 224, 0.45);
  width: 100vw; }
  #vote #vote-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #vote #vote-wrapper .round-titles {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 1em 0; }
      @media all and (max-width: 900px) {
        #vote #vote-wrapper .round-titles {
          display: none !important; } }
      #vote #vote-wrapper .round-titles .round-title {
        color: rgba(37, 37, 37, 0.75);
        font-weight: 500;
        margin: 0;
        text-align: center;
        width: 20%; }
    #vote #vote-wrapper .rounds {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    #vote #vote-wrapper .ads {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 1%; }
      @media all and (max-width: 900px) {
        #vote #vote-wrapper .ads {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    #vote #vote-wrapper h1 {
      text-align: center;
      font-family: "solano"; }
